.radio {
  
}

.radio::before {
}


.radio:checked::before {
}

.label {
  display: flex;
  gap: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.span {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
