.users {
  width: 600px;
  margin-top: 18px;
  border-collapse: collapse; 
}

.thead {
  background: #f4f4f4;
  text-align: left;
  font-weight: 600;
}

.item {
  height: 56px;
}

.item:not(:last-child) td {
  border-bottom: 1px solid #e4e4e4;
}

.nameCol {
  padding: 16px 24px;
}

.ageCol {
  padding: 16px 24px;
  width: 80px;
  text-align: left;
}

.item:not(:last-child) td {
  border-bottom: 1px solid #e4e4e4;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  width: 600px;
  justify-content: center;
}
