.greetingForm {
}

.inputAndButtonContainer {
}

.error {
  color: red;
}

.input {
}

.input:focus {
}

.errorInput {
  border: 1px solid red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  opacity: .5;
}

.greeting {
}
