.greetingForm {
}

.inputAndButtonContainer {
  display: flex;
  gap: 12px;
  margin: 9px 12px 22px 0px;
}

.error {
  color: red;
}

.input {
  width: 372px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.input:focus {
}

.errorInput {
  border: 1px solid red;
  width: 372px;
  height: 36px;
  border-radius: 5px;
}

.button {
  background: #0066CC;
  border-radius: 3px;
  width: 78px;
  height: 36px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  opacity: .5;
}

.greeting {
}
