.container {

}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0 20px;
}
